<%= simple_form_for [@location, @area], defaults: { input_html: { class: "form-horizontal", role: "form" } }  do |f| %>



<fieldset>
  <legend>area Details</legend>

  <div class="form-group">
    <div class="col-sm-12">
        <%= f.input :name, as: :string %>
    </div>
  </div> <!-- form-group end -->
  <div class="form-group">
    <div class="col-sm-6">
        <%= f.input :map, as: :file %>
    </div>
    <div class="col-sm-6">
        <%= f.input :notes, as: :text %>
    </div>
  </div> <!-- form-group end -->

</fieldset>


  <hr />
  <div class="row">
    <div class="col-sm-6">
        <%= f.button :submit, class: "btn btn-success"%>
				<%= link_to "Cancel Changes", location_areas_path(@location), class: "btn btn-link" %>
    </div>
		<div class="col-sm-6">
			<% unless @area.new_record? %>
				<%= link_to [@location, @area], method: :delete, data: { confirm: 'Are you sure?' }, class: "red pull-right btn btn-link btn-xs" do %>
					<span class="fa fa-trash"></span> Remove this Aarea record?
				<% end %>
			<% end %>
		</div>
  </div> <!-- row end -->

<% end %>
