<tr id="software_package_<%= software_package.id %>" data-id="<%= software_package.id %>">
  <td>
    <span class="label label-primary">s</span>
  </td>
  <td>
    <%= software_package.name %>
  </td>
  <td>
    <%= software_package.version %>
  </td>
  <td>
    <small><%= software_package.note %></small>
  </td>
  <td class="text-right">
    <a href="<%= edit_image_software_package_path(@image, software_package)%>" data-remote="true" class="btn btn-white btn-xs">
      Edit</a>
    <a class="btn btn-white btn-xs"> &times; </a>
  </td>
</tr>
