<%= render partial: "api/load_css_js_check" %>
var pca_location_holder_id = "pc_access_holder_location-<%= @location.id %>";
var pca_location_div = "<%= j render @location, formats: [:html], locals: { show: "public" } %>";

document.write("<div id='" + pca_location_holder_id + "'>" + pca_location_div +  "</div>");


$("#pc_access_location_<%= @location.id %> .list-group-item a.pc_access_floor").click(function() {

  //$("#pc_access_location_<%= @location.id %>").hide();
  //url = $(this).data("url");

  //document.write("<script type='text/javascript' src='" + url + "'></script>");
  $(this).siblings(".pc_access_floor_areas").toggle();
  return false;
});
