<tr id="server_<%= server.id %>">
  <td><%= in_place_edit server, :hostname %></td>
  <td>
    <span style="min-width: 110px; display:inline-block;">
      <%= in_place_edit server, :public_ip %>
    </span>

    <%= simple_form_for server, remote: true, html: { style: "display: inline;" } do |f| %>
      <% if server.public_ip_used? %>
        <%= f.input :public_ip_used, as: :hidden, input_html: { value: "false" } %>
        <i class="fa fa-toggle-on pointer red" onclick="$(this).closest('form').submit();"></i>
      <% else %>
        <%= f.input :public_ip_used, as: :hidden, input_html: { value: "true" } %>
        <i class="fa fa-toggle-off pointer green" onclick="$(this).closest('form').submit();"></i>
      <% end %>

    <% end %>

  </td>
  <td><%= in_place_edit server, :public_used_by %></td>
  <td><%= in_place_edit server, :local_hostname %></td>
  <td>
    <span style="min-width: 110px; display:inline-block;">
      <%= in_place_edit server, :local_ip %>
    </span>

    <%= simple_form_for server, remote: true, html: { style: "display: inline;" } do |f| %>
      <% if server.local_ip_used? %>
        <%= f.input :local_ip_used, as: :hidden, input_html: { value: "false" } %>
        <i class="fa fa-toggle-on pointer red" onclick="$(this).closest('form').submit();"></i>
      <% else %>
        <%= f.input :local_ip_used, as: :hidden, input_html: { value: "true" } %>
        <i class="fa fa-toggle-off pointer green" onclick="$(this).closest('form').submit();"></i>
      <% end %>

    <% end %>

  </td>
  <td><%= in_place_edit server, :local_used_by %></td>

</tr>
