<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Public ip</th>
      <th>Local ip</th>
      <th>Os name</th>
      <th>Last ping</th>
      <th>Note</th>
      <th>Administrator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.hostname %></td>
        <td><%= server.public_ip %></td>
        <td><%= server.local_ip %></td>
        <td><%= server.os_name %></td>
        <td><%= server.last_ping %></td>
        <td><%= server.note %></td>
        <td><%= server.administrator %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
