<div class="modal fade" id="show_server_<%= @server.id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @server.hostname %></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-2">
            <strong> CNAMES: </strong>
          </div>
          <div class="col-sm-10">
            <%= in_place_edit @server, :cnames, as: :textarea %>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-sm-2">
            <strong> NOTES:</strong>
          </div>
          <div class="col-sm-10">
            <%= in_place_edit @server, :note, as: :textarea %>
          </div>
        </div>

        <hr/>

        <div class="row">
          <div class="col-sm-2">
            <strong>Last Ping:</strong>
          </div>
          <div class="col-sm-10">
            <%= simple_format @server.last_ping %>
          </div>
        </div>


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
