<%= simple_form_for([@image, software_package], remote: true) do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="row software_package" id="software_package_<%= software_package.id %>" data-id="<%= software_package.id %>">
    <div class="col-md-5">
      <%= f.input :name, label: false, input_html: { class: "input-sm", placeholder: "Software Name" } %>
    </div>
    <div class="col-md-2">
      <%= f.input :version, label: false,  input_html: { class: "input-sm", placeholder: "Version" } %>
    </div>
    <div class="col-md-3">
        <%= f.input :note, label: false,  input_html: { class: "input-sm", placeholder: "Note" } %>
    </div>
    <div class="col-md-2 text-right">
      <% if software_package.new_record? %>
      <button type="submit" class="btn btn-success btn-xs">+ Add </button>
      <% else %>
        <button type="submit" class="btn btn-info btn-xs" title="Update Changes"> Save </button>
        <a class="cancel btn btn-white btn-xs" title="Cancel Changes"> <i class="red fa fa-ban"></i> </a>
      <% end %>

    </div>
  </div>
<% end %>
