<div id="pc_access_area_<%= area.id %>" class="pc_access_public_view" data-id="<%= area.id %>">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= @location.name %> - <%= area.name %> on <%= area.floor.name %></h3>
      <p>This floor is broken up into the following areas, available computers shown.</p>
      <div class="alert alert-success" role="alert">
        There are <strong><%= area.computers.pinging.not_in_use.count %></strong> computers available for use.
      </div>
    </div>
    <img style="display: none;" class="media-object" src="<%= path_to_url(area.map.url) %>" data-full-size-path="<%= path_to_url(area.map.url) %>">
  </div>
</div>
