<div class="modal fade" id="image_form">
  <div class="modal-dialog">
    <div class="modal-content">
    <%= simple_form_for @image, remote: true  do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%= @image.new_record? ? "New Image" : "Updating" %> <%= @image.name %></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-12">
              <%= f.input :name, as: :string %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <%= f.input :os_name, collection: Image::OS_NAMES, required: true %>
          </div>
          <div class="col-sm-6">
              <%= f.input :os_version, as: :string %>
          </div>
        </div>


      <% if @image.errors.any? %>
        <div class="error_messages">
          <hr/>
          <p class="red">
            Oops! There seems to be a small issue with this item. Please make sure you've filled out the form correctly.<br/>
            If <span title="<%=raw  @image.errors.full_messages.join("<br/>") %>">the problem</span>
            persists, please contact the administrator of this application.
          </p>
        </div>
      <% end %>
    </div>

    <div class="modal-footer">
      <% unless @image.new_record? %>
        <%= link_to @image, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "pull-left btn btn-danger" do %>
          <span class="fa fa-trash"></span><span class="sr-only">Delete?</span>
        <% end %>
      <% end %>

      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel Changes</button>
      <%= f.button :submit, class: "btn btn-success" %>
    </div>

  <% end %>
</div>
</div>
