<% if locals[:show] == "table" %>
  <tr id="floor_<%= floor.id %>" data-id="<%= floor.id %>">
    <td><%= link_to floor.name, [@location, floor] %></td>
    <td><%= floor.map %></td>
    <td>-</td>
    <td><%= link_to 'Update', edit_location_floor_path(@location, floor), data: { remote: true} %></td>
  </tr>
<% elsif locals[:show] == "ul" %>
    <li id="floor_<%= floor.id %>" data-id="<%= floor.id %>" class="<%= 'active' if locals[:first_item] %>">
      <a href="<%= location_floor_path(@location, floor) %>" data-remote="true">
        <%= floor.name %>
        <span class="fa fa-bars pull-right handle"></span>
      </a>

    </li>
<% else %>
  <div id="floor_<%= floor.id %>" data-id="<%= floor.id %>">
    <div class="thumbnail">
      <div class="caption">
        <h3>
          <%= floor.name %>
          <a href="<%= edit_location_floor_path(@location, floor) %>" data-remote="true" class="btn btn-link pull-right">
            <i class="fa fa-edit"></i> Update
          </a>
        </h3>
        <hr/>
        <div id="areas" class="row">

          <% floor.areas.each do |area| %>
            <%= render area, locals: { show: "div" } %>
          <% end %>
        </div>
        <hr/>
        <%= link_to new_location_area_path(@location, floor_id: floor.id), class: "btn btn-link green", data: { remote: true }  do%>
          <i class="fa fa-plus"></i> Add a new area
        <% end %>
      </div>
    </div>
  </div>
<% end %>
