<%= simple_form_for @location, defaults: { input_html: { class: "form-horizontal", role: "form" } }  do |f| %>



<fieldset>
  <legend>Location Details</legend>

  <div class="form-group">
    <div class="col-sm-12">
        <%= f.input :name, as: :string %>
    </div>
  </div> <!-- form-group end -->
  <div class="form-group">
    <div class="col-sm-6">
        <%= f.input :ip_subnet, as: :string, required: true %>
    </div>
    <div class="col-sm-6">
        <%= f.input :map, as: :string %>
    </div>
  </div> <!-- form-group end -->

</fieldset>


  <hr />
  <div class="row">
    <div class="col-sm-6">
        <%= f.button :submit, class: "btn btn-success"%>
				<%= link_to "Cancel Changes", locations_path, class: "btn btn-link" %>
    </div>
		<div class="col-sm-6">
			<% unless @location.new_record? %>
				<%= link_to @location, method: :delete, data: { confirm: 'Are you sure?' }, class: "red pull-right btn btn-link btn-xs" do %>
					<span class="glyphicon glyphicon-trash"></span> Remove this location record?
				<% end %>
			<% end %>
		</div>
  </div> <!-- row end -->

<% end %>
