<% if locals[:show] == "table" %>
  <tr id="area_<%= area.id %>" data-id="<%= area.id %>">
    <td><%= link_to area.name, [@location, area] %></td>
    <td><%= area.map %></td>
    <td>-</td>
    <td><%= link_to 'Update', edit_location_area_path(@location, area), data: { remote: true} %></td>
  </tr>
<% else %>
  <div id="area_<%= area.id %>" data-id="<%= area.id %>" class="area col-md-4 col-sm-6">
    <div class="thumbnail">
      <img src="<%= area.map.thumb.url %>" class="image_preview" data-full-size-path="<%= area.map.url %>"/>
      <div class="caption">
        <h4><%= area.name %>
          <a href="<%= edit_location_area_path(@location, area) %>"
          data-remote="true" class="green important pull-right small"><i class="fa fa-pencil"></i></a>
        </h4>
        <p><i class="fa fa-building"></i> <%= area.location.name %> | <%= area.floor.name %></p>
        <p>
          <a href="<%= computer_list_location_area_path(@location, area) %>" data-remote="true">
            <i class="fa fa-desktop"></i> <%= area.computers.count %> Computers
          </a>
          <a href="<%= attach_computers_form_location_area_path(@location, area) %>" data-remote="true" class="pull-right small">
            <i class="fa fa-plus-square green important"></i>
          </a>
        </p>
        <p><i class="fa fa-university"></i> <%= format area.department %></p>
        <p class="note" title="Full Note" data-content="<%= area.notes %>" data-placement="top" >
          <i class="fa fa-sticky-note"></i> <%= format(truncate(area.notes, length: 60)) %>
        </p>

      </div>
    </div>
  </div>
<% end %>
