<% if locals[:table] == true %>
  <tr id="area_<%= area.id %>">
    <td><%= link_to area.name, [@location, area] %></td>
    <td><%= area.map %></td>
    <td>-</td>
    <td><%= link_to 'Update', edit_location_area_path(@location, area), data: { remote: true} %></td>
  </tr>
<% else %>
  <div class="col-sm-6 col-md-4"  id="area_<%= area.id %>">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= area.name %></h3>
        <p><%= area.map %></p>
        <p>
          <a href="<%= edit_location_area_path(@location, area) %>" data-remote="true" class="btn btn-default" role="button">Update</a>
        </p>
      </div>
    </div>
  </div>
<% end %>
