<% if request.xhr? %>
  <div class="modal fade" id="area_computer_list">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">List Of Comuters In <%= @area.name %></h4>
        </div>
        <div class="modal-body">
          <div class="row">

              <% if @original_list && @original_list.size > 0 %>
                <div class="col-sm-6">
                  <p><strong>Previously Attached Computers</strong></p>
                  <% @original_list.each do |c| %>
                    <%= c %><br/>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <p><strong>Newly Attached Computers</strong></p>
                  <% @computers.each do |c| %>
                    <%= c.ip %></br>
                  <% end %>
                </div>
              <% else %>
                <div class="col-sm-12">
                  <% @computers.each do |c| %>
                    <%= c.ip %></br>
                  <% end %>
                </div>
              <% end %>
            
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
<% else %>
  <% @computers.each do |c| %>
    <%= c.ip %></br>
  <% end %>
<% end %>
