<%= simple_form_for(@server) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :public_ip %>
    <%= f.input :public_ip_used, label: "In Use?"  %>
    <%= f.input :public_used_by, label: "Used By" %>
    <hr/>
    <%= f.input :local_hostname %>
    <%= f.input :local_ip %>
    <%= f.input :local_ip_used, label: "In Use?"  %>
    <%= f.input :local_used_by, label: "Used By" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %> or <%= link_to "Cancel", servers_path %>
  </div>
<% end %>
