<%= simple_form_for(@server) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hostname %>
    <%= f.input :public_ip %>
    <%= f.input :local_ip %>
    <%= f.input :os_name, collection: Image::OS_NAMES %>
    <%= f.input :note %>
    <%= f.input :administrator %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %> or <%= link_to "Cancel", servers_path %>
  </div>
<% end %>
