<% title "Dashboard" %>

<p id="notice"><%= notice %></p>

<h1>Summary</h1>
<p><%= @not_in_use.size %> not in-use.</p>
<p><%= @in_use.size %> in-use.</p>

<h2>Not In-use</h2>
<ul>
<% @not_in_use.order('ip').each do |m| %>
  <li><%= m.ip %></li>
<% end %>
</ul>

<h2>In-use</h2>
<ul>
<% @in_use.order('last_keep_alive, ip').each do |m| %>
  <li><%= m.ip %>,  <%= time_ago_in_words(m.last_keep_alive) %></li>
<% end %>
</ul>

<h2>Pinging</h2>
<ul>
<% @pinging.order('last_ping, ip').each do |m| %>
  <li><%= m.ip %>,  <%= time_ago_in_words(m.last_ping) %></li>
<% end %>
</ul>

<h2>Not Pinging</h2>
<ul>
<% @not_pinging.order('last_ping, ip').each do |m| %>
  <li><%= m.ip %>,  <%= time_ago_in_words(m.last_ping) unless m.last_ping.nil? %></li>
<% end %>
</ul>

<h2>Never Ping</h2>
<ul>
<% @never_ping.order('ip').each do |m| %>
  <li><%= m.ip %></li>
<% end %>
</ul>

<h2>Never Used</h2>
<ul>
<% @never_used.order('ip').each do |m| %>
  <li><%= m.ip %></li>
<% end %>
</ul>
