<% title "Nerve Centre" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Current Activity By Location and Area</h3>
  </div>
  <div class="panel-body">
    <% @locations.each do |location| %>
      <h3><%= location.name %></h3>
      <table class="table">
        <tr>
          <th width="30%">Floor</th>
          <th width="30%">Area</th>
          <th width="10%">Total</th>
          <th width="10%">Free</th>
          <th width="10%">In Use</th>
          <th width="10%">Not Setup</th>
        </tr>
        <% location.areas.order(:floor_id).each do |area| %>
          <tr>
            <td><%= area.floor.name %></td>
            <td><%= area.name %></td>
            <td><%= area.computers.count %></td>
            <td><%= area.computers.not_in_use.count %></td>
            <td><%= area.computers.in_use.count %></td>
            <td><%= area.computers.never_ping.count %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
