<div id="pc_access_floor_<%= floor.id %>" class="pc_access_public_view" data-id="<%= floor.id %>">

  <div class="media">
    <div class=" media-left" style="display: none; ">
      <a href="#">
        <img class="media-object" src="<%= path_to_url(floor.map.url) %>" data-full-size-path="<%= path_to_url floor.map.url %>">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @location.name %> - <%= floor.name %></h4>
      <p>This floor is broken up into the following areas, available computers shown.</p>
      <ul class="list-group" id="pc_access_areas">
        <% floor.areas.each do |area| %>
          <li class="list-group-item">
             <span class="badge badge-success"><%= area.computers.pinging.not_in_use.count %></span>
             <a href="<%= api_by_area_url(@location, area) %>" data-remote="<%= remote_request? %>"><%= area.name %></a>
           </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
