<div class="media" id="image_<%= image.id %>" data-id="<%= image.id %>">
  <div class="media-left">
    <a href="<%= image_path(image) %>">
      <img class="media-object" src="<%= asset_path("os_icons/#{os_icon(image.os_name)}".html_safe) %>">
    </a>
  </div>
  <div class="media-body">
    <div class="pull-right">
      <a href="<%= image_path(image) %>" class="btn btn-white btn-xs" role="button">
        <i class="fa fa-bars"></i> Details
      </a>
      <a href="<%= edit_image_path(image) %>" data-remote="true" class="btn btn-default btn-xs" role="button">
        Update
      </a>
    </div>

    <h4 class="media-heading"><%= image.name %></h4>
    <p>
      <%= image.os_name %> - <%= image.os_version %><br/>
      <span title="Computers"><i class="fa fa-desktop"></i> <%= image.computers.size %></span>
      <span title="Software Packages"><i class="fa fa-cubes"></i> <%= image.software.size %></span>
    </p>

  </div>

</div>
