<div id="pc_access_location_<%= location.id %>" class="pc_access_public_view" data-id="<%= location.id %>">
  <ul class="list-group">
    <% location.floors.each do |floor| %>
      <li class="list-group-item">
         <span class="badge badge-success"><%= floor.computers.pinging.not_in_use.count %></span>
         <a class="pc_access_floor" href="#"><%= floor.name %></a>
         <ul class="pc_access_floor_areas" style="display: none;">
           <% floor.areas.each do |area| %>
             <li class="">
                <span class="badge badge-info"><%= area.computers.pinging.not_in_use.count %></span>
                <%= area.name %>
              </li>
           <% end %>
         </ul>
       </li>
    <% end %>
  </ul>
</div>
