<%= render partial: "api/custom_location_css" %>

<div id="pc_access_location_<%= location.id %>" class="pc_access_public_view" data-id="<%= location.id %>">
  <h1><%= location.name %> - Available Computers</h1>
  <ul class="list-group">
    <% location.floors.each do |floor| %>
      <li class="list-group-item <%= "highlight_floor" if params[:hl_floor] == floor.id.to_s %>">
         <span class="badge badge-success"><%= floor.computers.available.count %></span>
         <a class="pc_access_floor" href="#" data-id="<%= floor.id %>"><%= t floor.name %></a>
         <ul class="pc_access_floor_areas" style="<%= params[:expand] == "true" ?  "" : "display: none;" %>">
           <% floor.areas.each do |area| %>
             <li class="pc_access_area">
                <span class="badge badge-info"><%= area.computers.available.count %></span>
                <%= area.name %>
              </li>
           <% end %>
         </ul>
       </li>
    <% end %>
  </ul>
</div>
