<% title "#{@location.name}" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Floors and Areas</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" id="floors" data-sort-url="<%= sort_location_floors_url(@location) %>">
          <% @location.floors.each_with_index do |floor, index| %>
              <% if index == 0 %>
                <% @first_item = true %>
                <%= render floor, locals: { show: "li"} %>
              <% else %>
                <% @first_item = false %>
                <%= render floor, locals: { show: "li" } %>
              <% end %>

          <% end %>
        </ul>
        <hr/>
        <%= link_to new_location_floor_path(@location), class: "btn btn-link green", data: { remote: true }  do%>
          <i class="fa fa-plus"></i> Add a new floor
        <% end %>
      </div>
      <div class="col-md-9">
        <div id="floors">
            <% if @location.floors.size > 0 %>
              <%= render @location.floors.first, locals: { show: "div" } %>
            <% end %>
        </div>
      </div>
    </div>


  </div>
</div>
