<% title "Image Details" %>

<div class="ibox">
  <div class="ibox-content">
    <%= render @image, show: "div" %>
    <br/>

    <div class="row">
      <div class="col-md-9">
        <h5>Software Packages</h5>
        <div id="software_packages">
          <%= render partial: "software_packages/form", locals: { show: "div_form", software_package: SoftwarePackage.new } %>

          <% @image.software.each do | software_package | %>
            <%= render software_package, show: "div" %>
          <% end %>

          <hr/>

        </div>
      </div>
      <div class="col-md-3">
        <h5>Computers</h5>
        <% @image.computers.each do |c| %>
          <%= c.ip %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, images_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_image_path(@image), class: "btn btn-default" %>
