<% title "Image Details" %>

<div class="ibox">
  <div class="ibox-content">
    <%= render @image, show: "div" %>
    <br/>

    <div class="row">
      <div class="col-md-9">
        <h5>Software Packages</h5>
        <div id="software_packages">
          <%= render partial: "software_packages/form", locals: { show: "div_form", software_package: SoftwarePackage.new } %>

          <% @image.software.each do | software_package | %>
            <%= render software_package, show: "div" %>
          <% end %>

          <hr/>

        </div>
      </div>
      <div class="col-md-3 image">
        <h5 class="computers">Computers</h5>
        <div id="computer_list" title="Click To Edit">
          <% @image.computers.each do |c| %>
            <span class="ip" data-ip="<%= c.ip %>"><%= c.ip %></span>
          <% end %>
          <% if @image.computers.size == 0 %>
            <div class="text-center small"><br/><br/>No computers attached</div>
          <% end %>
        </div>
        <%= render partial: "images/forms/computer_list_form" %>
      </div>
    </div>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, images_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_image_path(@image), class: "btn btn-default" %>
