<% title "Image Details" %>

<div class="ibox">
  <div class="ibox-content">
    <%= render @image, show: "div" %>
    <br/>

    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <%= render partial: "software_packages/form", locals: { show: "tr_form", software_package: @image.software.build } %>

          <table class="table table-hover" id="software_packages">
            <tbody>
              <% @image.software.each do | software_package | %>
                <%= render software_package, show: "tr" %>
              <% end %>
            </tbody>            
          </table>
        </div>
      </div>
      <div class="col-md-3">
        <% @image.computers.each do |c| %>
          <%= c.ip %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%= link_to '<i class="fa fa-backward"></i> Back To List'.html_safe, images_path, class: "btn btn-default" %>
<%= link_to '<i class="fa fa-pencil"></i> Edit'.html_safe, edit_image_path(@image), class: "btn btn-default" %>
