<nav class="navbar navbar-default app-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navigation menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a title="York University" href="http://www.yorku.ca/" class="navbar-brand"><%= image_tag "logo.gif"  %></a>
      <a title="Computers" href="/" class="navbar-brand">Computers</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Computers <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% %w(in_use not_in_use pinging not_pinging staying_active not_statying active never_used never_ping).each do |status| %>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-mylang="en" href="<%= by_status_path(status) %>">
                <%= status.humanize %>
              </a>
            </li>
            <% end %>
          </ul>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="<%= locations_path %>">Locations</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="<%= images_path %>">Images</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="<%= servers_path %>">Server Room</a>
        </li>    
      </ul>
    </div>
  </div>
</nav>
